.titulo-edu {
  margin-top:2rem;
  }

.contenedor {
  border: 2px solid var(--blue);
  max-width: 358px;
  margin-top: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: 3px 3px 10px var(--pink);
  background: var(--grey2);
  /* padding-left: 2rem; */
  overflow-wrap: break-word;
}

#titulo {
  position: relative;
}

#titulo::before {
  content: "";
  position: absolute;
  top: 0;
  left: -24px;
  width: 15px;
  height: 15px;
  background-color: var(--dark);
  border: 2px solid var(--blue);
  border-radius: 1rem;
}

.botones{
  margin: 0;
  display:flex;
}

/* Formularios */
.iconoCerrar {
  color: #006eff;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
  transition-property: background;
  display: flex;
}

.iconoCerrar:hover {
  background: #14a3dc;
  color: #d6d6d6;
}

.modal-title {
  color: #d6d6d6 !important;
}

.modal-header {
  border: 2px solid #14a3dc;
  ;
  background: var(--dark);
}

.modal-body {
  background: #102a4d;
}

.modal-footer {
  background: #102a4d;
}

label {
  color: #d6d6d6;
  margin-top: 10px;
}

.contador {
  color: #d6d6d6;
  margin-top: 6px;
}

input, textarea {
  color: #006eff;
  border: 2px solid #14a3dc;
  margin-top: 2px;
  border-radius: 10px;
  padding: 10px;
  background: var(--dark); 
}

input:active {
  box-shadow: 2px 2px 15px #14a3dc inset;
  background: var(--dark);
}

textarea:active {
  box-shadow: 2px 2px 15px #14a3dc inset;
  background: var(--dark);
  resize: none;
}

.placeholder {
  color: rgb(208, 210, 208);
}

@media (max-width:380px) {
  .contenedor {
    min-width: 268px;
    max-width: 268px;
      
  }
}
