<!--header-->
<header id="inicio">
  <nav class="navbar">
    <div class="nav_logos" id="logos">
      <img class="logo_argprograma" src="../assets/APLogo.png" width="110" height="40" id="ArgenPrograma">
      <img class="logo_inti" src="../assets/LogoInti.png" width="50" height="50" id="INTI">
      <img class="logo_ministerio" src="../assets/LogoMinisterio.png" width="150" height="60" id="Ministerio">
    </div>
    <!-- <span class="css-1rohdmw">
            "<"
           <span>
           <p>Yanina Loiacono</p>
           </span>
           "/>"
        </span> -->
    <!-- boton login -->
    <span class="boton-login" (click)="login()" *ngIf="!isAdmin">
      <i class="bi bi-person-plus "></i>
    </span>
    <!-- boton logOut (cerrar sesion)-->
    <span class="boton-login" (click)="onLogOut()" *ngIf="isAdmin">
      <i class="bi bi-person-x"></i>
    </span>
    <!-- boton Menu -->
    <div class="boton-menu" (click)="mostrarBarra()">
      <i class="bi bi-list fs-4"></i>
    </div>
  </nav>
</header>
<!--Barra lateral de Navegacion-->
<aside class="sidebar" id="menu-lateral" [ngClass]="{'mostrarLateral': barraActiva}">
  <div class="menu-bar">
    <div *ngFor="let persona of personas">
      <i class="edit-icon bi bi-pencil-square" (click)="modalEdit(contentEdit,persona)" *ngIf="isAdmin"></i>
      <img class="img-fluid" src="{{persona.imgPerfil}}" accept="image/*">
      <h4>{{persona.nombre}} {{persona.apellido}}</h4>
    </div>
    <a href="#inicio"><i class="bi bi-display fs-4"></i><span>Inicio</span></a>
    <a href="#sobreMi"><i class="bi bi-person-video2 fs-4"></i><span>Sobre mí</span></a>
    <a href="#resumen"><i class="bi bi-award fs-4"></i><span>Resumen</span></a>
    <a href="#habilidad"><i class="bi bi-diagram-3 fs-4"></i><span>Habilidades</span></a>
    <a href="#proyectos"><i class="bi bi-code-slash fs-4"></i><span>Proyectos</span></a>
    <a href="#contacto"><i class="bi bi-envelope fs-4"></i><span>Contacto</span></a>
  </div>
</aside>
<!--BANNER-->
<div *ngFor="let persona of personas">
  <main class="banner" #banner [ngStyle]="{ 'background-image': 'url(' + persona.imgBanner + ')' }">
    <!-- <div class="banner_titulo" id="banner-titulo">
            <h1 class="display-3 fw-bold">Yanina Loiacono</h1>
            <h3>Desarrollador@ Web Fullstack</h3>
        </div> -->
  </main>
</div>

<!-- EDITAR MODAL -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar Perfil</h4>
    <i class="iconoCerrar bi bi-x-square" (click)="modal.dismiss('Cross click')"></i>
  </div>

  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input class="form-control" id="nombre" name="nombre" formControlName="nombre" placeholder="Nombre" required [class]="{'is-invalid':editForm.get('nombre').touched && editForm.get('nombre').errors}">
        <!-- VALIDACIONES -->
        <div *ngIf="editForm.get('nombre').touched && editForm.get('nombre').errors?.['required']"
          class="alert text-danger">"Este campo es requerido"</div>
        <div *ngIf="editForm.get('nombre').touched && editForm.get('nombre').errors?.['maxlength']"
          class="alert text-primary">"Este campo requiere un máximo de 15 caracteres"</div>
        <div class="contador">{{this.editForm.get('nombre').value.length}}/15</div>
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input class="form-control" id="apellido" name="apellido" formControlName="apellido" placeholder="Apellido"
          required [class]="{'is-invalid':editForm.get('apellido').touched && editForm.get('apellido').errors}">
          <!-- VALIDACIONES -->
          <div *ngIf="editForm.get('apellido').touched && editForm.get('apellido').errors?.['required']"
            class="alert text-danger">"Este campo es requerido"</div>
          <div *ngIf="editForm.get('apellido').touched && editForm.get('apellido').errors?.['maxlength']"
            class="alert text-primary">"En este campo es requerido un max de 15 caracteres"</div>
          <div class="contador">{{this.editForm.get('apellido').value.length}}/15</div>
        </div>
      <div class="form-group">
        <label for="imgPerfil">Imagen perfil:</label>
        <div class="input-group">
          <input type="file" alife-file-to-base64 accept="image/*" (onFileChanged)="obtener($event)" class="form-control" id="file" name="imgPerfil" required>
          <img src="{{this.editForm.value.imgPerfil}}" height="100px">
        </div>
      </div>
      <div class="form-group">
        <label for="imgBanner">Imagen banner:</label>
        <div class="input-group">
          <input type="file" alife-file-to-base64 accept="image/*" (onFileChanged)="obtener2($event)"
            class="form-control" name="imgBanner" required>
          <img src="{{this.editForm.value.imgBanner}}" height="100px">
        </div>
      </div>
    </form>

    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-outline-primary" (click)="editar()" [disabled]="editForm.invalid">Actualizar</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </div>
</ng-template>