<section class="habilidad container" id="habilidad">
  <div class="d-flex justify-content-between">
    <div class="main-titulo">
      <h2>Habilidades</h2>
      <span>02.</span>
    </div>
    <div class="iconoAgregar">
      <i class="bi bi-plus-circle" (click)="modalAgregar(content)" *ngIf="isAdmin"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 d-flex justify-content-center"
      *ngFor="let habilidad of habilidad">
      <div class="card mb-4 pt-2">
        <i class="iconoLeng display-4" [class]="habilidad.icono" [style.color]="habilidad.color"></i>
        <circle-progress [percent]="habilidad.porcentaje" [radius]="70" [outerStrokeWidth]="10" [innerStrokeWidth]="2"
          [innerStrokeColor]="'#bdf5e7'" [showUnits]="false" [showTitle]="false" [showSubtitle]="false"
          [subtitleColor]="'#bdf5e7'" [subtitleFontSize]="'20'" [showBackground]="false" [outerStrokeGradient]="true"
          [outerStrokeColor]="'#00ffee'" [outerStrokeGradientStopColor]="'#ca07b0'" [animation]="true"
          [animationDuration]="400">
        </circle-progress>
        <div class="card-body">
          <h5 class="card-tittle display-9">{{habilidad.titulo}}</h5>
          <i class="bi bi-pencil-square" (click)="modalEdit(contentEdit,habilidad)" *ngIf="isAdmin"></i>
          <i class="bi bi-trash3" (click)="modalBorrar(contentDelete,habilidad)" *ngIf="isAdmin"></i>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- AGREGAR MODAL -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar habilidad</h4>
    <i class="iconoCerrar bi bi-x-square" (click)="d('Cross click')"></i>
  </div>

  <div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="agregar()" novalidate>
      <div class="form-group">
        <label for="porcentaje">Porcentaje:</label>
        <input type="range" class="form-range" id="porcentaje" name="porcentaje" formControlName="porcentaje" required>
        <!-- VALIDACIONES -->
        <div *ngIf="editForm.get('porcentaje').errors && editForm.get('porcentaje').touched">
            <div *ngIf="editForm.get('porcentaje').hasError('min')" class="alert text-primary">
              "Este campo requiere un minimo de 1"
            </div>
          </div>
        <div class="contador">{{this.editForm.get('porcentaje').value}}/100%
        </div>
      </div>
      <div class="form-group">
        <label for="titulo">Titulo:</label>
        <input class="form-control" formControlName="titulo" name="titulo" placeholder="Titulo" required [class]="{'is-invalid':editForm.get('titulo').touched && editForm.get('titulo').errors}">
        <!-- VALIDACIONES -->
        <div *ngIf="editForm.get('titulo').touched && editForm.get('titulo').errors?.['required']"
        class="alert text-danger">"Este campo es requerido"</div>
        <div *ngIf="editForm.get('titulo').touched && editForm.get('titulo').errors?.['maxlength']"
        class="alert text-primary">
            "Este campo requiere un máximo de 15 caracteres"
          </div>
        <div class="contador">{{this.editForm.get('titulo').value.length}}/15</div>
        </div>
      <div class="form-group">
        <label for="icono">Icono habilidad:</label>
        <div class="input-group">
          <select name="icono" class="form-control" formControlName="icono" placeholder="Icono habilidad">
            <option value="default" selected disabled>Elige un icono:</option>
            <option value="fab fa-html5">Html</option>
            <option  value="fab fa-css3-alt">Css</option>
            <option value="fa-brands fa-angular">Angular</option>
            <option value="fa-brands fa-java">Java</option>
            <option value="fa-brands fa-node-js">Node.Js</option>
            <option value="fa-brands fa-js">Js</option>
            <option value="fa-brands fa-square-github">GitHub</option>
            <option value="fa-brands fa-php">php</option>

          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="color">Icono Color:</label>
        <div class="input-group">
          <input type="color" class="form-control-color" formControlName="color">
        </div>
      </div>
      <br>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary" [disabled]="editForm.invalid">Agregar</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- EDITAR MODAL -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar habilidad</h4>
    <i class="iconoCerrar bi bi-x-square" aria-label="btn-Close" (click)="modal.dismiss('Cross click')"></i>
  </div>

  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="porcentaje">Porcentaje:</label>
          <input type="range" id="customRange" name="porcentaje" class="form-range" formControlName="porcentaje" required>
          <!-- VALIDACIONES -->
          <div *ngIf="editForm.get('porcentaje').errors && editForm.get('porcentaje').touched">
              <div *ngIf="editForm.get('porcentaje').hasError('min')" class="alert text-primary">
                "Este campo requiere un minimo de 1"
              </div>
            </div>
          <div class="contador">{{this.editForm.get('porcentaje').value}}/100%
          </div>
        </div>
      <div class="form-group">
        <label for="titulo">Titulo:</label>
        <input class="form-control" formControlName="titulo" name="titulo" placeholder="Titulo" required
          [class]="{'is-invalid':editForm.get('titulo').touched && editForm.get('titulo').errors}">
        <!-- VALIDACIONES -->
        <div *ngIf="editForm.get('titulo').touched && editForm.get('titulo').errors?.['required']"
          class="alert text-danger">"Este campo es requerido"</div>
        <div *ngIf="editForm.get('titulo').touched && editForm.get('titulo').errors?.['maxlength']"
          class="alert text-primary">"Este campo requiere un máximo de 15 caracteres"</div>
        <div class="contador">{{this.editForm.get('titulo').value.length}}/15</div>
      </div>
      <div class="form-group">
        <label for="icono">Icono:</label>
        <div class="input-group">
          <input class="form-control" formControlName="icono" placeholder="Class del icono">
        </div>
      </div>
      <div class="form-group">
        <label for="color">Icono Color:</label>
        <div class="input-group">
          <input type="color" class="form-control-color" formControlName="color">
        </div>
      </div>
    </form>

    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-outline-primary" (click)="editar()" [disabled]="editForm.invalid">Actualizar</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </div>
</ng-template>

<!-- ELIMINAR ELIMINAR -->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title3">Eliminar Habilidad</h4>
    <i class="iconoCerrar bi bi-x-square" aria-label="btn-close" (click)="modal.dismiss('Cross click')">
    </i>
  </div>

  <div class="modal-body">
    <h3>Esta seguro de eliminar este registro?</h3>
  </div>

  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-outline-danger" (click)="borrar()">Eliminar</button>
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>