<section class="habilidad container" id="habilidad">
    <div class="main-titulo">
        <h2>Habilidades</h2>
        <span>02.</span>
    </div>

    <div class="container col-12 d-flex alingn-contetn-center justify-content-center">
      <i class="bi bi-plus-circle" (click)="open(content)" *ngIf="isAdmin"></i>
      <div class="col-lg-2 col-sm-12 col-md-4 justify-self-center" *ngFor="let habilidad of habilidades">
            
          <div class="card">
            <i class="position-absolute mb-5 pb-5 display-6" [class]="habilidad.tecnologia"></i>
            <circle-progress 
            [percent]="habilidad.porcentaje" 
            [radius]="70" 
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="2"
            [showTitle]="false"
            [showSubtitle]="false"
            [outerStrokeGradient] = "true"
            [outerStrokeColor]="'#00ffee'" 
            [outerStrokeGradientStopColor]="'#ca07b0'"
            [innerStrokeColor]="'#bdf5e7'"
            [animation]="true" 
            [animationDuration]="200">
            </circle-progress>
            <div class="card-body">
              
              <h5 class="card-tittle"><i class="display-6" [class]="habilidad.tecnologia"></i></h5>
              <i class="bi bi-pencil-square" (click)="modalEdit(contentEdit,Habilidad)" *ngIf="isAdmin"></i>
              <i class="bi bi-trash3" (click)="modalBorrar(contentDelete,Habilidad)" *ngIf="isAdmin"></i>
            </div>
          </div>
          </div>
        </div>      
        
</section>

<!-- MODAL AGREGAR -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bienvenid@!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body">

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="tecnologia">Tecnologia</label>
        <div class="input-group">
          <input class="form-control" name="tecnologia" #tecnologia="ngModel" ngModel required>
        </div>
      </div>
      <div class="form-group">
        <label for="porcentaje">Porcentaje</label>
        <div class="input-group">
          <input class="form-control" name="porcentaje" ngModel>
        </div>
      </div>
      <div class="form-group">
        <label for="img">img</label>
        <div class="input-group">
          <input type="file" alife-file-to-base64 (onFileChanged)="obtener($event)" class="form-control" name="img" ngModel>
          <img src="{{base64}}" height="100px">
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="('Save click')">Agregar</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- EDITAR MODAL -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar Perfil</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">

      <div class="form-group">
        <label for="tecnologiaa">Tecnologia</label>
        <div class="input-group">
          <input class="form-control" formControlName="tecnologia">
        </div>
      </div>
      <div class="form-group">
        <label for="porcentaje">Porcentaje</label>
        <div class="input-group">
          <input class="form-control" formControlName="porcentaje">
        </div>
      </div>
      <div class="form-group">
        <label for="img">img</label>
        <div class="input-group">
          <input type="file" alife-file-to-base64 (onFileChanged)="obtener($event)" class="form-control">
          <img src="{{base64}}" height="100px">
        </div>
      </div>
    </form>

    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-primary" (click)="guardar()">Guardar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </div>
</ng-template>

<!-- MODAL ELIMINAR-->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Eliminar Habilidad</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3>Esta seguro de eliminar este registro?</h3>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-danger" (click)="borrar()">Eliminar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>

