section {
    margin-top: 3rem;
    box-shadow: 3px 3px 30px #14a3dc;
    /* background: var(--grey2); */
    padding-bottom: 3rem;
}

.habilidad{
    padding-top: 3em;
    padding-left: 2em;
}

.main-titulo{
    margin-bottom: 60px;
    position:relative;
    display: inline-block;
}

.main-titulo h2{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600px;
    font-size:28px;
    letter-spacing: .7px;
    line-height: 1;
    margin: 0;
    padding-bottom: 15px;
}

.main-titulo h2:before{
    content:"";
    position: absolute;
    bottom:-4px;
    left:0;
    width: 100%;
    height: 2px;
    background-color: rgb(25, 57, 71);

}

.main-titulo span{
    position: absolute;
    bottom: -9px;
    left: 67%;
    line-height: 1;
    background:rgb(25, 57, 71);
    padding: 0 42px;
    font-size: 20px;
    color: rgb(234, 0, 255);
    list-style: none;
    font-weight: 600px;
}


@property --rotate {
    syntax: "<angle>";
    initial-value: 152deg;
    inherits: false;
  }
  

  .card {
    background: #191c29;
    width: 10em;
    padding-left: 5px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
    padding-right: 5px;
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before{
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 105%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 27);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  .iconoLeng{
    position: absolute;
    Overflow:hidden;
    align-items: center;
    top: 50px;
    justify-content: center;
  }

  .modal{
    cursor: pointer;
  }

  .modal-header{
    background-color: #ff008c;
  }

  .modal-body{
    background: var(--grey);
    backdrop-filter: blur(20px);
  }

  .modal-footer{
    background: var(--grey);
    backdrop-filter: blur(20px);
  }

  label{
    color: #fff;
  }