<section class="habilidad container" id="habilidad">
  <div class="d-flex justify-content-between">
    <div class="main-titulo">
      <h2>Habilidades</h2>
      <span>02.</span>
    </div>
    <div class="iconoAgregar">
      <i class="bi bi-plus-circle" (click)="modalAgregar(content)" *ngIf="isAdmin"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 d-flex justify-content-center"
      *ngFor="let habilidad of habilidad">
      <div class="card mb-4 pt-2">
        <i class="iconoLeng display-4" [class]="habilidad.icono" [style.color]="habilidad.color"></i>
        <circle-progress [percent]="habilidad.porcentaje" [radius]="70" [outerStrokeWidth]="10" [innerStrokeWidth]="2"
          [innerStrokeColor]="'#bdf5e7'" [showUnits]="false" [showTitle]="false" [showSubtitle]="false"
          [subtitleColor]="'#bdf5e7'" [subtitleFontSize]="'20'" [showBackground]="false" [outerStrokeGradient]="true"
          [outerStrokeColor]="'#00ffee'" [outerStrokeGradientStopColor]="'#ca07b0'" [animation]="true"
          [animationDuration]="400">
        </circle-progress>
        <div class="card-body">
          <h5 class="card-tittle display-9">{{habilidad.titulo}}</h5>
          <i class="bi bi-pencil-square" (click)="modalEdit(contentEdit,habilidad)" *ngIf="isAdmin"></i>
          <i class="bi bi-trash3" (click)="modalBorrar(contentDelete,habilidad)" *ngIf="isAdmin"></i>
        </div>
      </div>
    </div>
  </div>
</section>

<!--MODAL AGREGAR -->
<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar habilidad</h4>
    <button type="button" class="btn-close" aria-label="btn-Close" (click)="d('Cross click')"></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="enviar($event)" novalidate>
      <input type="text" formControlName="id" hidden>
      <div class="form-group">
        <label for="porcentaje">Porcentaje:</label>
        <div class="input-group">
          <input type="range" class="form-range" id="porcentaje" formControlName="porcentaje" required>
          <label style="margin-right: 50px;"><small>{{this.editForm.get('porcentaje').value}}/100%</small></label>
          <div *ngIf="editForm.get('porcentaje').errors && editForm.get('porcentaje').touched">
            <p *ngIf="editForm.get('porcentaje').hasError('min')" class="alerta">
              "Este campo requiere un minimo de 1"
            </p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="titulo">Titulo:</label>
          <input class="form-control" formControlName="titulo" placeholder="Titulo">
          <label>{{this.editForm.get('titulo').value.length}}/20</label>
          <div *ngIf="editForm.get('titulo').errors && editForm.get('titulo').touched">
            <p *ngIf="editForm.get('titulo').hasError('required')" class="alerta">
              "Este campo requiere un titulo"
            </p>
            <p *ngIf="editForm.get('titulo').hasError('maxlength')" class="alerta">
              "Este campo requiere un maximo de 20 caracteres"
            </p>
          </div>
      </div>
      <div class="form-group">
        <label for="icono">Icono:</label>
        <div class="input-group">
          <input class="form-control" formControlName="icono" placeholder="Class del icono">
        </div>
      </div>
      <div class="form-group">
        <label for="color">Icono Color:</label>
        <div class="input-group">
          <input type="color" class="form-control-color" formControlName="color">
        </div>
      </div>
      <br>

      <div class="modal-footer">
        <button type="button" [disabled]="editForm.invalid" (click)="enviar($event)"
          class="btn btn-outline-primary">Agregar</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- EDITAR MODAL -->
<ng-template #contentEdit let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar habilidad</h4>
    <button type="button" class="btn-close" aria-label="btn-Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="porcentaje">Porcentaje:</label>
        <div class="input-group">
          <input type="range" id="customRange" name="porcentaje" class="form-range" formControlName="porcentaje">
        </div>
      </div>
      <div class="form-group">
        <label for="titulo">Titulo:</label>
        <div class="input-group">
          <input class="form-control" formControlName="titulo" placeholder="Titulo">
        </div>
      </div>
      <div class="form-group">
        <label for="icono">Icono:</label>
        <div class="input-group">
          <input class="form-control" formControlName="icono" placeholder="Class del icono">
        </div>
      </div>
      <div class="form-group">
        <label for="color">Icono Color:</label>
        <div class="input-group">
          <input type="color" class="form-control-color" formControlName="color">
        </div>
      </div>
    </form>

    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-primary" (click)="editar()">Actualizar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </div>
</ng-template>

<!-- MODAL ELIMINAR -->
<ng-template #contentDelete let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Eliminar Habilidad</h4>
    <button type="button" class="btn-close" aria-label="btn-close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>

  <div class="modal-body">
    <h3>Esta seguro de eliminar este registro?</h3>
  </div>

  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-danger" (click)="borrar()">Eliminar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>