<section class="contacto container" id="contacto">
    <div class="main-titulo">
        <h2>Contacto</h2>
        <span>04.</span>
    </div>

    <!-- <div class="contendor">
        <div class="carta">
            <div class="caja">
                <div class="box">
                    <div>
                        <div class="porcent">
                            <svg>
                                <circle cx="70" cy="70" r="70"></circle>
                                <circle cx="70" cy="70" r="70"></circle>
                            </svg>
                            <div class="number">
                                <h2>90<span>%</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text">Html</div>
            </div>
        </div>
    </div> -->

    
</section>