<section class="contacto container" id="contacto">
    <div class="main-titulo">
        <h2>Contacto</h2>
        <span>04.</span>
    </div>
    <div class=body-form>
        <form class="form" target="blank" ngNoForm action="https://formsubmit.co/96cbf6a6ec5457c17b82847e723776d7"
            method="POST">
            <div class="form_container">
                <h2 class="form_title">Contáctame</h2>
                <input type="text" class="form_input" placeholder="Nombre:" name="name" />
                <input type="email" class="form_input" placeholder="Email:" name="email" />
                <input type="text" class="form_input" placeholder="Teléfono:" name="telefono" />
                <textarea class="form_input form_input--message" placeholder="Escriba aquí su mensaje"
                    name="message"></textarea>
                <input type="submit" value="Enviar" class="form_cta" />
            </div>
        </form>
    </div>
    <div>footer</div>
</section>