.fondo {
    /* background: #6a11cb; */
    height: 100vh;
    background-image: url("src/assets/banner.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*ajusta la imagen */
    background-attachment: fixed;
    }

    .card-body {
        padding: 3rem 5rem 3rem 5rem ;
    }

    .card {
        background: rgba(0,0,0,0.4);
    }