.fondo {
    /* fallback for old browsers */
    background: #6a11cb;
    
    height: 100vh;
    background-image: url("src/assets/banner.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*ajusta la imagen */
    background-attachment: fixed;
    }