<div class="row">
  <div class="titulo-edu col-lg-10">
    <h3 class="fw-bold"><i class="bi bi-mortarboard-fill">
        Educación</i>
    </h3>
  </div>
  <div class="col-lg-2 text-center">
    <i class="bi bi-plus-circle" (click)="modalAgregar(content)" *ngIf="isAdmin"></i>
  </div>
</div>
<div class="shadow" *ngFor="let resumenEdu of resumenEdu">
  <div class="row">
    <div class="col-lg-10">
      <h4>{{resumenEdu.titulo}}</h4> -
      <p><em>{{resumenEdu.institucion}}</em></p>
      <h6>{{resumenEdu.fechaIni | date: 'dd/MM/yyyy'}} - {{resumenEdu.fechaFin | date: 'dd/MM/yyyy'}}</h6>
    </div>
    <div class="col-lg-2 text-center">
      <i class="bi bi-pencil-square" (click)="modalEdit(contentEdit,resumenEdu)" *ngIf="isAdmin"></i>
      <i class="bi bi-trash3" (click)="modalBorrar(contentDelete,resumenEdu)" *ngIf="isAdmin"></i>
    </div>
  </div>
  <div class="row content-borde">
    <div class="col-lg-10">
      <p>{{resumenEdu.descripcion}}
      </p>
    </div>
  </div>
</div>


<!--MODAL AGREGAR -->
<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Educación</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="enviar($event)" novalidate>
      <input type="text" formControlName="id" hidden>
      <div class="form-group">
        <label for="titulo">Titulo:</label>
        <div class="input-group">
          <input class="form-control" formControlName="titulo" placeholder="Titulo" required>
        </div>
      </div>
      <div class="form-group">
        <label for="institucion">Institución:</label>
        <div class="input-group">
          <input class="form-control" formControlName="institucion" placeholder="Institución">
        </div>
      </div>
      <div class="form-group">
        <label for="fechaIni">Fecha inicio:</label>
        <div class="input-group">
          <input type="date" class="form-control" formControlName="fechaIni">
        </div>
      </div>
      <div class="form-group">
        <label for="fechaFin">Fecha fin:</label>
        <div class="input-group">
          <input type="date" class="form-control" formControlName="fechaFin">
        </div>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción</label>
        <textarea type="text" formControlName="descripcion" class="form-control" rows="5" cols="10"
          placeholder="Descripción"></textarea>
      </div>
      <br>

      <div class="modal-footer">
        <button type="button" [disabled]="editForm.invalid" (click)="enviar($event)"
          class="btn btn-outline-primary">Agregar</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- MODAL EDITAR -->
<ng-template #contentEdit let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar Educación</h4>
    <button type="button" class="btn-close" aria-label="btn-Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="titulo">Titulo</label>
        <div class="input-group">
          <input class="form-control" formControlName="titulo">
        </div>
      </div>
      <div class="form-group">
        <label for="institucion">Institucion</label>
        <div class="input-group">
          <input class="form-control" formControlName="institucion">
        </div>
      </div>
      <div class="form-group">
        <label for="fechaIni">FechaIni</label>
        <div class="input-group">
          <input type="date" class="form-control" formControlName="fechaIni">
        </div>
      </div>
      <div class="form-group">
        <label for="fechaFin">FechaFin</label>
        <div class="input-group">
          <input type="date" class="form-control" formControlName="fechaFin">
        </div>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <div class="input-group">
          <textarea class="form-control" rows="5" cols="10" formControlName="descripcion"></textarea>
        </div>
      </div>
    </form>

    <div class="modal-footer">

      <button data-dismiss="modal" class="btn btn-outline-primary" (click)="editar()">Actualizar</button>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </div>
</ng-template>

<!-- MODAL ELIMINAR -->
<ng-template #contentDelete let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Eliminar Educación</h4>
    <button type="button" class="btn-close" aria-label="btn-Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>

  <div class="modal-body">
    <h3>Esta seguro de eliminar este registro?</h3>
  </div>

  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-outline-danger" (click)="borrar()">Eliminar</button>
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>