/*
==========
SECCIÓN HOME/Acerca de Mi
==========
*/
.home-info {
  color: #fff;
  padding: 1rem;
  margin-top: 3rem;
  box-shadow: 3px 3px 30px #14a3dc;
}

#section-title{
  color:#14a3dc;
  font-size: 45px;
  
}

#probando{
  z-index: -100;
  text-transform: uppercase;
  font-weight: 600px;
  font-size:28px;
  -webkit-text-stroke: 1px rgb(46, 66, 75);
  color:#ffffff07;
  font-size: 55px;
  
}

.content-borders {
  padding: 20px;
}

.content-border2{
text-align: center;
overflow-wrap: break-word; /*contenedor de texto */
padding-left: 50px;

}

.info-mi{
  float:right;
}
#home-icons {
  margin-top: 4rem;
  padding: 1rem;
}

#home-icons a {
  color: inherit;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 1rem;
}

.botonCv{
  box-shadow: 5px 5px 8px var(--pink);
  transition: 0.5s;
  transition-property: background;
  
}

.botonCv:hover{
  background:#ff008c;
}

.bi-github:hover:before {
  filter:invert(60%) sepia(20%) saturate(5000%) hue-rotate(1150deg) brightness(200%) contrast(100%);
  transform: scale(2.5);
  transition: transform .5s;
  
}

.bi-linkedin:hover:before {
  filter:invert(60%) sepia(20%) saturate(5000%) hue-rotate(100deg) brightness(200%) contrast(100%);
  transform: scale(2.5);
  transition: transform .5s;
}


.bi-discord:hover:before {
  filter:invert(40%) sepia(25%) saturate(1500%) hue-rotate(2180deg) brightness(300%) contrast(100%);
  transform: scale(2.5);
  transition: transform .5s;
}

.home-info p{
  transform: inherit;
  color:#fff;
  font-size: var(--normal-font-size);
  max-width: 350;
}

/* Formularios */
.iconoCerrar {
  color: #006eff;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
  transition-property: background;
  display: flex;
}

.iconoCerrar:hover{
  background:#14a3dc;
  color:#d6d6d6;
}

.modal-title {
  color: #d6d6d6 !important;
}

.modal-header {
  border: 2px solid #14a3dc;
  ;
  background: var(--dark);
}

.modal-body {
  background: #102a4d;
}

label {
  color: #d6d6d6;
  margin-top: 10px;
}

input, textarea {
  color: #006eff;
  border: 2px solid #14a3dc;
  margin-top: 2px;
  border-radius: 10px;
  padding: 10px;
  background: var(--dark); 
}

input:active {
  box-shadow: 2px 2px 15px #14a3dc inset;
  background: var(--dark);
}

textarea:active {
  box-shadow: 2px 2px 15px #14a3dc inset;
  background: var(--dark);
  resize: none;
}

.placeholder {
  color: rgb(208, 210, 208);
}

.contador {
  color: #d6d6d6;
  margin-top: 6px;
}