<!-- Seccion Sobre Mí/Home-->
<section class="home-info container" id="SobreMi" *ngFor="let sobreMi of sobreMi">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-4 text-center content-borders" id="home-icons">
          <a href="{{sobreMi.linkGit}}" target="blank"><i class="bi bi-github" style="color:#9900ff;"
              id="github"></i></a>
          <a href="{{sobreMi.linkLinke}}" target="blank"><i class="bi bi-linkedin" style="color:#0471ff;"
              id="linkedin"></i></a>
          <a href="{{sobreMi.linkDisc}}" target="blank"><i class="bi bi-discord" style="color:#ff6600;"
              id="discord"></i></a>
        </div>
        <div class="col-8 conteiner content-borders">
          <div class="position-relative d-flex aling-iteams-center justify-content-center">
            <h1 class="decoracion" id="probando"> SOBRE MÍ</h1>
            <h3 class="position-absolute fw-bold" id="section-title">Sobre mí</h3>
          </div>
          <div class="row container content-border2">
            <p>{{sobreMi.descripcion}}
            </p>
          </div>
          <div class="row content-borders">
            <a href="{{sobreMi.linkCv}}" target="blank" class="botonCv btn btn-primary">
              Descargar CV <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div>
        <img src="{{sobreMi.img}}" accept="image/*" id="home-perfil" class="img-fluid">
        <i class="edit-icon bi bi-pencil-square" (click)="modalEdit(contentEdit,sobreMi)" *ngIf="isAdmin"></i>
      </div>
    </div>
  </div>
</section>

<!-- EDITAR MODAL -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar Sobre Mí</h4>
    <i class="iconoCerrar bi bi-x-square" (click)="modal.dismiss('Cross click')"></i>
  </div>

  <div class="modal-body">
    <form [formGroup]="editForm" novalidate>
      <div class="form-group">
        <label for="linkGit ">Github:</label>
        <input class="form-control" formControlName="linkGit" placeholder="Link github">
        <!-- VALIDACIONES -->
        <div *ngIf="editForm.get('linkGit').touched && editForm.get('linkGit').errors?.['maxlength']"
          class="alert text-primary">
          "Este campo requiere un máximo de 100 caracteres"
        </div>
        <div class="contador">{{this.editForm.get('linkGit').value.length}}/100</div>
      </div>
      <div class="form-group">
        <label for="linkDisc">Discord:</label>
        <input class="form-control" formControlName="linkDisc" placeholder="Link discord">
        <!-- VALIDACIONES -->
        <div *ngIf="editForm.get('linkDisc').touched && editForm.get('linkDisc').errors?.['maxlength']"
          class="alert text-primary">
          "Este campo requiere un máximo de 100 caracteres"
        </div>
        <div class="contador">{{this.editForm.get('linkDisc').value.length}}/100</div>
      </div>
      <div class="form-group">
        <label for="linkLinke">Linkedin:</label>
        <input class="form-control" formControlName="linkLinke" placeholder="Link linkedin">
        <!-- VALIDACIONES -->
        <div *ngIf="editForm.get('linkLinke').touched && editForm.get('linkLinke').errors?.['maxlength']"
          class="alert text-primary">
          "Este campo requiere un máximo de 100 caracteres"
        </div>
        <div class="contador">{{this.editForm.get('linkLinke').value.length}}/100</div>
      </div>
      <div class="form-group">
        <label for="linkCv">Link Cv:</label>
        <input class="form-control" formControlName="linkCv" placeholder="Link Cv">
        <!-- VALIDACIONES -->
        <div *ngIf="editForm.get('linkCv').touched && editForm.get('linkCv').errors?.['maxlength']"
          class="alert text-primary">
          "Este campo requiere un máximo de 100 caracteres"
        </div>
        <div class="contador">{{this.editForm.get('linkCv').value.length}}/100</div>
      </div>
      <div class="form-group">
        <label for="img">Imagen:</label>
        <div class="input-group">
          <input type="file" alife-file-to-base64 accept="image/*" (onFileChanged)="obtener($event)" class="form-control" name="img">
          <img src="{{this.editForm.value.img}}" height="100px">
        </div>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <textarea type="text" class="form-control" rows="5" cols="10" formControlName="descripcion"
          placeholder="Descripción" required [class]="{'is-invalid':editForm.get('descripcion').touched && editForm.get('descripcion').errors}"></textarea>
        <!-- VALIDACIONES -->
        <div *ngIf="editForm.get('descripcion').touched && editForm.get('descripcion').errors?.['required']"
          class="alert text-danger">"Este campo es requerido"</div>
        <div *ngIf="editForm.get('descripcion').touched && editForm.get('descripcion').errors?.['maxlength']"
          class="alert text-primary">"Este campo requiere un máximo de 500 caracteres"</div>
        <div class="contador">{{this.editForm.get('descripcion').value.length}}/500</div>
      </div>
      

      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-outline-primary" (click)="editar()" [disabled]="editForm.invalid">Actualizar</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">Cerrar</button>
      </div>

    </form>
  </div>
</ng-template>