/*
==========
SECCIÓN "titulo y contorno"
==========
*/

section {
    margin-top: 3rem;
    box-shadow: 3px 3px 30px #14a3dc;
    box-sizing: border-box;
    padding: 3em;
}

/* #resumen{
    padding: 3em;
} */

.main-titulo{
    margin-bottom: 20px;
    position:relative;
    display: inline-block;
}

.main-titulo h2{
    color: #fff;
    text-transform: uppercase;
    /* font-weight: 50rem;
    font: size 28rem;; */
    letter-spacing: .7px;
    line-height: 1;
    /* margin: 0; */
    margin-bottom: 16px;
}

.main-titulo h2:before{
    content:"";
    position: absolute;
    bottom:-4px;
    left:0;
    width: 100%;
    height: 2px;
    background-color: rgb(25, 57, 71);

}

.main-titulo span{
    position: absolute;
    bottom: -9px;
    left: 67%;
    line-height: 1;
    background:rgb(25, 57, 71);
    padding: 0 42px;
    font-size: 20px;
    color: rgb(234, 0, 255);
    list-style: none;
    font-weight: 600px;
}


.global-contenedor{
    display: flex;
    justify-content: center;
    margin:0;
    padding: 2rem;
}


.info{
    display:flex;
    justify-content:center;
    align-items: center;
    width:30rem;
}
