<section class="proyectos container" id="proyectos">
  <div class="d-flex justify-content-between">
    <div class="main-titulo">
      <h2>Proyectos</h2>
      <span>03.</span>
    </div>
    <div class="iconoAgregar">
      <i class="bi bi-plus-circle" (click)="modalAgregar(content)" *ngIf="isAdmin"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center" *ngFor="let proyecto of proyectos">
      <i class="bi bi-pencil-square" (click)="modalEdit(contentEdit,proyecto)" *ngIf="isAdmin"></i>
      <i class="bi bi-trash3" (click)="modalBorrar(contentDelete,proyecto)" *ngIf="isAdmin"></i>
      <div class="card" style="width: 30rem;">
        <div class="row header">
          <div class="card-bg img-fluid" id="imagen">
            <img src="{{proyecto.img}}" alt="...">
          </div>
          <div class="row body mb-2">
            <div class="card-context" id="section-info">
              <div class="dark-bg"></div>
              <h2>{{proyecto.titulo}}</h2>

              <p>
                {{proyecto.descripcion}}
              </p>
              <div class="footer">
                <a href="">Live Demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--MODAL AGREGAR -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Proyecto</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>

  <div class="modal-body">
    <!-- <form #f="ngForm" (ngSubmit)="enviar(f)" novalidate> -->
    <form [formGroup]="editForm" (ngSubmit)="enviar()">
      <!-- <input type="text" formControlName="id"> -->
      <div class="form-group">
        <label for="titulo">Titulo:</label>
        <input [class]="{'is-invalid':editForm.get('titulo').touched && editForm.get('titulo').errors}" type="text"
          class="form-control" id="titulo" name="titulo" formControlName="titulo" required placeholder="Titulo">
        <div *ngIf="editForm.get('titulo').touched && editForm.get('titulo').errors?.['required']"
          class="alert text-danger">"Este campo es requerido"</div>
        <div *ngIf="editForm.get('titulo').touched && editForm.get('titulo').errors?.['maxlength']"
          class="alert text-primary">"En este campo es requerido un max de 20 caracteres"</div>
          <div>{{this.editForm.get('titulo').value.length}}/20</div>
      </div>
      <div class="form-group">
        <label for="img">Imagen:</label>
        <div class="input-group">
          <input type="file" alife-file-to-base64 (onFileChanged)="obtener($event)" class="form-control" name="img">
          <img src="{{Prueba64}}" height="100px">
          <!-- <img src="{{this.editForm.value.img}}" height="100px"> -->
        </div>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <div class="input-group">
          <textarea class="form-control" rows="5" cols="10" name="descripcion" formControlName="descripcion"
            placeholder="Descripción"></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary">Agregar</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- EDITAR MODAL -->
<ng-template #contentEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Editar Perfil</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editForm">

      <div class="form-group">
        <label for="titulo">Titulo:</label>
        <div class="input-group">
          <input class="form-control" formControlName="titulo" placeholder="Titulo">
        </div>
      </div>
      <div class="form-group">
        <label for="img">Imagen:</label>
        <div class="input-group">
          <input type="file" alife-file-to-base64 (onFileChanged)="obtener($event)" class="form-control" name="img">
          <img src="{{this.editForm.value.img}}" height="100px">
        </div>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <div class="input-group">
          <textarea class="form-control" rows="5" cols="10" formControlName="descripcion"
            placeholder="Descripción"></textarea>
        </div>
      </div>
    </form>

    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-primary" (click)="editar()">Actualizar</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cerrar</button>
    </div>
  </div>
</ng-template>

<!-- MODAL ELIMINAR-->
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Eliminar Perfil</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>

  <div class="modal-body">
    <h3>Esta seguro de eliminar este registro?</h3>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-danger" (click)="borrar()">Eliminar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
</ng-template>